<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.1/plugins/confirmDate/confirmDate.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <!-- container -->
    <div class="relative flex flex-col">
      <%- include("../partials/header.ejs") %>
      <!-- main content -->
      <div class="flex">
        <%- include("../partials/sidemenu.ejs") %>
        <div class="hidden w-2/12 xl:block"></div>
        <div class="mt-40 w-full xl:w-10/12 mx-12 grid grid-cols-1 gap-y-6 text-white md:grid-cols-2 md:gap-x-6 2xl:grid-cols-3 2xl:gap-10">
            <%- include("../partials/notes.ejs") %>
        </div>
      </div>
    </div>
    <%- include("../partials/createModal.ejs")%> <%-
    include("../partials/updateModal.ejs")%> <%-
    include("../partials/menu.ejs")%>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.1/plugins/confirmDate/confirmDate.js"></script>
    <script src="js/index.js"></script>
  </body>
</html>
